@media screen and (max-width:1000px) {
    .container-1{
        min-height: 30vh;
    }
    .container-form{
        height: 110px;
        bottom: 55px;
    }
    footer{
        padding-right: 2%;
    }
    .footer-logo{
        margin-right: 50px;
    }
    .footer-boxlist{
        justify-content: center;
    }
}
@media screen and (max-width:850px){
     .login{
        flex-direction: column;
        align-items: center;
     }
     .login button{
        margin:0
     }
     .container-1{
        flex-direction: column-reverse;
     }
    
     .container-1__text h1{
        font-size: 6vw;
        margin-top: 5%;
     }
     .container-1__text button{
        height: 5.5vw;
        margin-top: 3%;
     }
     .container-1__img{
        width: 100%;
     }
     .container-1__img picture img{
        width: 125%;
        position: relative;
        margin-left:-9.8vw;
     }
     .container-1__text{
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 1em;
     }
    .container-form button{
        font:0.8em poppins, sans-serif;
        font-weight: 700;
    }
    .container-2__stats{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .stats__line{
        display: none;
    }
    .stats__content{
        width:35%;
        margin-bottom: 0;
    }
    .stats--2{
        top: 0;
    }
    .stats--3{
        top:0;
        margin-top: 5%;
    }
    .container-3{
        height: 200px;
        min-height: 20vh;
    }
    @media screen and (max-width: 767px){
        .nav-link img{
            width: 33vw;
        }
        .nav-link__list{
            display: none;
        }
        .login a{
            display: none;
        }
        .login button{
            display: none;
        }
        .login i{
            font-size: 30px;
            display: inline-block;
            cursor: pointer;
            color: gray;
        }
        .container-1{
            width: 100%;
        }
        .container-1__text{
            width: 90%;
        }
        .container-1__text h1{
            font-size: 11vw;
            line-height: 12vw;

        }
        .container-1__text p{
            width: 100%;
        }
        .container-1__text button{
            width: 50%;
            min-height: 50px;
            border-radius: 25px;
            font: bold 1em poppins;
        }
        .container-1__img{
            text-align: right;
        }
        .container-2{
            margin-top: 35%;
        }
        .container-form{
            width: 80%;
            flex-direction: column;
            gap: 1em;
            padding:5% 2%;
            border-radius: 10px;
            bottom: 74px;
            background: hsl(255, 11%, 22%) url(../images/bg-shorten-mobile.svg) bottom left;
            background-size:cover;
        }
        .container-form input{
            width: 90%;
            height: 40%;
            border-radius: 5px;
            font: 0.9em poppins, sans-serif;
            padding: 0 4%;
        }
        .container-form button{
            width: 90%;
            height: 40%;
            font:bold 1em poppins;
            border-radius: 5px;
            margin-left: 0;
        }
        .container-1__img picture img{
            width: 100%;
            position: relative;
            margin-left: -65px;
         }
        .container-2__text h1{
            font-size: 6.5vw;
        }
        .container-2__text p{
            width: 80%;
        }
        .container-2__stats{
            margin: 100px 0 60px 0;
            flex-direction: column;
            align-items: center;
            gap: 0;
        }
        .stats__content{
            width: 84%;
            display: flex;
            flex-direction:column;
            align-items: center;
            text-align: center;
            margin: 0;
        }
        .stats__line{
            display: inline-block;
            margin: 0;
            height: 80px;
        }
        .stats__content p{
            width: 88%;
        }
        .stats__content .wheel-img{
            width: 80px;
            height: 80px;
        }
        .container-3{
            height: 28vh;
            background: hsl(255, 11%, 22%) url(/images/bg-boost-mobile.svg) center center;
            background-size: cover;
        } 
        .container-3 h1{
            font-size:7vw
        }
        .container-3 .btn{
            width: 160px;
            height: 45px;
            bottom:20px
        }
        footer{
            justify-content: center;
            flex-direction: column;
            padding: 12% 8%;
        }
        .footer-logo{
            margin: 0;
            text-align: center;
        }
        .footer-logo .logo-text{
            font-size: 9vw;
        }
        .footer-boxlist{
            gap: 2em;
            margin-top: 12%;
            flex-direction: column;
            text-align: center;
            font-size: 1.1em;
        }
        .footer-list__icons{
            margin: auto;
        }
    }
}